body, html {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url("/images/Frame.png");
  font-family: Arial, sans-serif;
  color: white;
  
  overflow: hidden;
}

body{
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
