body, html {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url("/images/Frame.png");
  font-family: Arial, sans-serif;
  color: white;
  
  overflow: hidden;
}

body{
  position: relative;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.flexcontainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

#letter-S {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 10;
  opacity: 1;
}





.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2vw;
  width: 60vw;
  justify-content: center;
  user-select: none;
}



.floating-letter {
  width: 10vw;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  flex-shrink: 0;
}


.Soundbar {
  width: 25px;
  height: 25px;
}



.media {
  position: fixed;
  bottom: 20px;
  right: 110px;
  padding: 0;
  z-index: 20;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  width: auto;
}

.media ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.media li {
  display: flex;
  align-items: center;
}

.media li a {
  display: block;
  height: 80px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease;
}
