.spotify-icon-1 {
  background-image: url('/images/Spotify_IconUnclear.png');
}

.spotify-icon-1:hover {
  background-image: url('/images/Spotify_Icon.png');
}

.tiktok-icon-1 {
  background-image: url('/images/TT_IconUnclear.png');
}

.tiktok-icon-1:hover {
  background-image: url('/images/TT_Icon.png');
}



.media li a img {
  height: 80px;
  width: auto;
  display: flex;
}

.media li a img:hover {
  height: 80px;
  width: auto;
  display: flex;
  content: url('/images/YT_Icon.png');
}