body, html {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url("/images/Frame.png");
  font-family: Arial, sans-serif;
  color: white;
  
  overflow: hidden;
}

body{
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}




#spotify-embeds {
display: flex;
flex-wrap: wrap;
justify-content: center;
position: relative;
top: 100px;
width: 35vw;
margin: 0 auto;
gap: 0px;
max-height: 75vh;
overflow-y: auto;
padding-right: 0px;
border-radius: 15px;
background-color: rgba(30, 30, 30, 1);
box-shadow: 0 0 20px rgba(132,0,255,1);
padding-top: 20px;
z-index: 5;
}

#spotify-embeds iframe {
width: 33vw;
height: 9.5vh;
border-radius: 8px;
border: none;
margin: 0;
flex-shrink: 0;
}


#spotify-embeds {
scrollbar-width: thin;
scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

