body, html {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url("/images/Frame.png");
  font-family: Arial, sans-serif;
  color: white;
  
  overflow: hidden;
}

body{
  position: relative;
  user-select: none;           /* Standard */
  -webkit-user-select: none;   /* Safari */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
}



#spotify-embeds {
position: relative;  /* add this */
top: 100px;
display: flex;
justify-content: center;
gap: 500px;  /* large gap */
flex-wrap: wrap;
padding: 20px;
}

#spotify-embeds iframe {
width: 300px;
height: 80px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0,0,0,0.3);
border: none;
}

