body, html {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url("./Frame.png");
  font-family: Arial, sans-serif;
  color: white;


  overflow: hidden;
  height: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  position: fixed;
  top: 20px;
  left: -75px;
  z-index: 20;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navbar li a {
  text-decoration: none;
  color: white;
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 20px;
  transition: font-size 0.3s ease, transform 0.3s ease;
}

.navbar li a:hover {
  font-size: 20px;
  transform: scale(1.05);
}




.flexcontainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

#letter-S {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
  transition: width 0.5s ease;
  z-index: 10;
  transition: width 0.5s ease, margin-right 0.5s ease;
}

#letter-S.position-relative {
  margin-right: 2vw;
}


.container {
  display: flex;
  align-items: center;
  gap: 2vw;
  width: 60vw;
  justify-content: center;
  user-select: none;
  left: 1000vw;
}


.floating-letter {
  width: 10vw;
  opacity: 0;
  transition: opacity 0.5s ease;
  flex-shrink: 0;
}

.Soundbar {
  width: 25px;
  height: 25px;
}

.Spotify {
  display: flex;
  width: 70px;
  height: 70px;
  left: 100px
}

.SpotifyIcon {
  width: 100px;
}