<div class="Soundbar">
  <img class ="Background" src="/images/BarsTop.png" alt="">
</div>

<div class="flexcontainer">
  <img id="letter-S" src="/images/S.png" alt="Big S" />
  <div class="container" id="letter-container">
    <img src="/images/S.png" alt="S" class="floating-letter" />
    <img src="/images/Y.png" alt="Y" class="floating-letter" />
    <img src="/images/N.png" alt="N" class="floating-letter" />
    <img src="/images/1.png" alt="1" class="floating-letter" />
    <img src="/images/C.png" alt="C" class="floating-letter" />
    <img src="/images/L.png" alt="L" class="floating-letter" />
    <img src="/images/E.png" alt="E" class="floating-letter" />
  </div>


  <div id="media">
</div>
